<p>
<%= label_tag "user_mail_notification", l(:description_user_mail_notification), :class => "hidden-for-sighted" %>
<%= select_tag(
      'user[mail_notification]',
      options_for_select(
         user_mail_notification_options(@user), @user.mail_notification),
      :onchange => 'if (this.value == "selected") {$("#notified-projects").show();} else {$("#notified-projects").hide();}'
     ) %>
</p>
<%= content_tag 'div', :id => 'notified-projects', :style => (@user.mail_notification == 'selected' ? '' : 'display:none;') do %>
  <%= render_project_nested_lists(@user.projects) do |project|
        content_tag('label', 
          check_box_tag(
            'notified_project_ids[]',
             project.id,
             @user.notified_projects_ids.include?(project.id)
          ) + ' ' + h(project.name)
        )
      end %>
  <p><em class="info"><%= l(:text_user_mail_option) %></em></p>
<% end %>

<%= fields_for :pref, @user.pref do |pref_fields| %>
<p>
  <!-- plugin modification -->
  <% if Redmine::VERSION.to_a[0..2].join.to_i < 232 %>
	  <label>
	  <%= check_box_tag 'pref_no_self_notified', 1, @user.pref[:no_self_notified] %><%= l(:label_user_mail_no_self_notified) %>
	  </label>
  <% end %>
  
  <% if Redmine::VERSION.to_a[0..2].join.to_i >= 232 %>
	  <%= pref_fields.check_box :no_self_notified %>
	  <label for='pref_no_self_notified'><%= l(:label_user_mail_no_self_notified) %></label>  		
  <% end %>

  <br>
  <%= pref_fields.check_box :always_check_email %>
  <label for='pref_always_check_email'><%= l(:always_send_email) %></label>
  <!-- end -->
  
</p>
<% end %>
